@use "./mixin";

.dashboard {
  overflow-y: auto;

  .bar {
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);

    @include mixin.flex(
      $dir: row,
      $justifyContent: unset,
      $alignItems: center,
      $gap: 1rem
    );

    > input {
      margin-right: auto;
      @include mixin.inputStyle(100%, 1rem 0);
    }

    > svg {
      font-size: 1.2rem;
      opacity: 0.7;
    }

    > img {
      @include mixin.square(2rem);
      border-radius: 50%;
    }
  }

  .widget-container {
    padding: 2rem 2rem 2rem 0;

    @include mixin.flex(
      $dir: row,
      $justifyContent: space-between,
      $alignItems: stretch,
      $gap: 2rem
    );

    .widget {
      width: 16rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
      padding: 2rem;
      border-radius: 10px;

      @include mixin.flex(
        $dir: row,
        $justifyContent: space-between,
        $alignItems: stretch,
        $gap: 0
      );

      .widget-info {
        > p {
          opacity: 0.7;
          font-size: 0.8rem;
        }

        > h4 {
          font-size: 1.5rem;
        }

        > span {
          @include mixin.flex(
            $dir: row,
            $justifyContent: unset,
            $alignItems: center,
            $gap: 0.2rem
          );
        }
      }

      .widget-circle {
        position: relative;
        flex: none;
        display: grid;
        place-items: center;
        background-color: aquamarine;
        border-radius: 50%;

        @include mixin.square(5rem);

        &::before {
          content: "";
          position: absolute;
          background-color: white;
          border-radius: 100%;

          @include mixin.square(4rem);
        }

        span {
          position: relative;
        }
      }
    }
  }

  .graph-container {
    padding: 0 2rem 2rem 0;

    @include mixin.flex(
      $dir: row,
      $justifyContent: unset,
      $alignItems: unset,
      $gap: 2rem
    );

    > div {
      background-color: white;
      border-radius: 10px;
    }

    .revenue-chart {
      width: 100%;
      padding: 1rem 3rem;

      > h2 {
        margin: 1rem 0 2rem 0.25rem;
        text-align: center;

        @include mixin.heading;
      }
    }

    .dashboard-categories {
      width: 100%;
      max-width: 16rem;
      padding-bottom: 2rem;

      @include mixin.flex(
        $dir: column,
        $justifyContent: center,
        $alignItems: unset,
        $gap: 0
      );

      > h2 {
        margin: 1.5rem 0 2rem 0;
        text-align: center;

        @include mixin.heading;
      }

      > div {
        overflow-y: auto;
        padding-left: 0.5rem;
      }

      .category-item {
        width: 100%;
        padding: 1rem;

        @include mixin.flex(
          $dir: row,
          $justifyContent: space-between,
          $alignItems: center,
          $gap: 1rem
        );

        > h5 {
          letter-spacing: 1px;
          font-weight: 300;
        }

        > div {
          margin-left: auto;
          width: 6rem;
          height: 0.5rem;
          flex: none;
          background-color: rgb(217, 217, 217);
          border-radius: 20px;

          > div {
            height: 100%;
            border-radius: 20px;
          }
        }

        > span {
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
    }
  }

  .transaction-container {
    display: flex;
    gap: 2rem;
    padding: 0 2rem 2rem 0;
    height: 30rem;

    > div {
      background-color: white;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.132);
      border-radius: 10px;
    }

    .gender-chart {
      width: 100%;
      max-width: 20rem;
      padding: 1rem;
      position: relative;

      > h2 {
        margin: 1.5rem 0 2rem 0;
        text-align: center;

        @include mixin.heading;
      }

      > p {
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.634);

        @include mixin.posCenter;
      }
    }

    .transaction-box {
      width: 100%;
      padding: 1rem;
      overflow-x: auto;

      > h2 {
        margin: 1.5rem 0 0 0;

        @include mixin.heading;
      }
    }
  }
}
