@use "./mixin";
@use "./dashboard";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}
.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}

/* =========================
   ADMIN CONTAINER
========================= */

.admin-container {
  height: 100vh;
  background-color: rgb(247, 247, 247);

  @include mixin.grid(1fr 4fr, 2rem);

  > aside {
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      margin: 2rem 1rem;

      > h5 {
        opacity: 0.8;
        margin: 1rem 0;

        @include mixin.heading(2px);
      }

      > ul {
        list-style: none;

        @include mixin.flex(
          $dir: column,
          $justifyContent: unset,
          $alignItems: unset,
          $gap: 0.5rem
        );

        > li {
          padding: 0.5rem 1rem;
          border-radius: 10px;

          a {
            color: rgba(0, 0, 0, 0.825);

            @include mixin.flex(
              $dir: row,
              $justifyContent: unset,
              $alignItems: center
            );
          }
        }
      }
    }
  }
}

/* =========================
   TABLE
========================= */

.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    color: #0000009e;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2rem 1rem;
  }

  tbody {
    tr {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
    }

    td {
      padding: 1rem;

      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        border-radius: 10px;
      }

      a {
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
      }

      button {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgb(255, 44, 44);

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

/* =========================
   TABLE PAGINATION
========================= */

.table-pagination {
  padding: 2rem;

  @include mixin.flex;

  > button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 115, 255);
    color: white;

    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
      cursor: not-allowed;
    }
  }
}

/* =========================
   HAMBURGER
========================= */

#hamburger {
  display: grid;
  place-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 9;

  font-size: 2rem;
  color: rgba(44, 104, 255);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;

  @include mixin.square(3rem);
}

/* =========================
   CLOSE SIDEBAR
========================= */

#close-sidebar {
  width: 80%;
  margin: 1rem auto;
  display: block;
  padding: 0.75rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(168, 2, 2);
  color: white;
  border-radius: 10px;
}

/* =========================
   LOADER
========================= */

.loader {
  width: 100%;
  height: 100vh;

  @include mixin.flex;

  > div {
    border-radius: 50%;
    border-top: 1rem solid rgb(43, 43, 43);
    border-left: 1rem solid rgb(43, 43, 43);
    border-right: 1rem solid #fff;
    border-bottom: 1rem solid #fff;
    animation: loading-animation 0.5s linear infinite;

    @include mixin.square(10rem);
  }
}

/* =========================
   KEYFRAMES
========================= */

@keyframes loading-animation {
  to {
    transform: rotateZ(360deg);
  }
}
